#canvas1 {
    width: 600px;
    height: 700px;
    border: 1px solid black;
    background: rgb(200, 100, 100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}